.graphColumnPoint {
    border: 10px ridge #8cc1f0;
    padding: 6px 8px 6px 8px;
    margin: 20px auto;
    width: 110px;
    border-radius: 8px;
}

.hide {
    display: none;
}

    .hide + label ~ div {
        display: none;
    }
   
    .hide + label {
        border-bottom: 1px dotted green;
        padding: 0;
        color: green;
        cursor: pointer;
        display: inline-block;
    }
   
    .hide:checked + label {
        color: red;
        border-bottom: 0;
    }

        .hide:checked + label + div {
            background: #efefef;
            -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
            -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
            box-shadow: inset 3px 3px 10px #7d8e8f;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
        }

         .pointPallete{

         }